<div class="animated fadeIn">
  <div class="row">
    <div class="col-md-8">
      <div class="card">
        <div class="card-block">
          <div class="row">
            <div class="col-sm-5">
              <h4 class="card-title mb-0">Enterprise View</h4>
            </div>
            <div class="col-sm-7" style="text-align:right">
              <button type="button" class="btn btn-outline-primary" (click)="exportGraph()" ><i class="icon-cloud-download"></i></button>
              <button type="button" class="btn btn-outline-primary" (click)="resetZoom()" ><i class="icon-frame"></i></button>
            </div>
          </div>
          <hr class="mb-4">
          <div class="chart-wrapper">
              <div id="cy">
              </div>
          </div>
          <!--<ion-range-slider (onFinish)="buildBPChart()" [min]="selection.min.format('X')" [max]="selection.max.format('X')" [prettify]="prettifyFn" type="double" drag_interval="true" [from]="selection.from" [to]="selection.to"></ion-range-slider>-->
        </div>
      </div>
    </div><!--/.col-->
    <div class="col-md-4">
      <div class="card">
        <div class="card-block">
          <h4 class="card-title mb-0">Settings</h4>
          <hr class="mb-4">
          <label class="switch switch-3d switch-primary">
            <input type="checkbox" class="switch-input" [(ngModel)]="graphSettings.domainRelations" (ngModelChange)="buildBPChart()"/>
            <span class="switch-label"></span>
            <span class="switch-handle"></span>
          </label>
          Aggregate Relations on <i>Domain level</i>
        </div>
      </div>
      <div class="card">
        <div class="card-block">
          <h4 class="card-title mb-0">Entities</h4>
          <div *ngFor="let group of entities">
            <hr class="mb-4">
            <h6>{{group.name}}</h6>
            <div *ngFor="let entity of group.entities">
              <a routerLinkActive="active" [routerLink]="['/service', entity.id]" (mouseenter)="highlightNode(entity)" (mouseleave)="highlightNodeOff(entity)" >{{entity.name}}</a>
            </div>
          </div>
        </div>
      </div>
      <!--<div class="card">
        <div class="card-block">
          <h4 class="card-title mb-0">Recent Sessions</h4>
          <hr class="mb-4">
          <div *ngFor="let session of currentSessions">{{session.user.name}} <span class="font-weight-bold float-right">{{session.time | amTimeAgo}}</span>
            <div class="progress progress-xs mt-2 mb-3">
                <div class="progress-bar bg-info" aria-valuenow="40" aria-valuemin="0" aria-valuemax="100"></div>
              </div></div>
        </div>
      </div>-->
      <div class="card">
          <div class="card-block">
            <h4 class="card-title mb-0">Recent Problems</h4>
            <hr class="mb-4">
            <div *ngFor="let problem of problems" class="problem">
              <div class="indicator" [ngStyle]="{'background-color':problem.color}">&nbsp;</div>
              <a routerLinkActive="active" [routerLink]="['/service', problem.id]" (mouseenter)="errorNode(problem.id)" (mouseleave)="errorNodeOff(problem.id)" >{{problem.entity}}</a>
              <span class="font-weight-bold float-right">{{problem.time | amTimeAgo}}</span>
            </div>
          </div>
        </div>
    </div>
  </div>
</div>
