<div *ngIf="dataloadCount>0" style="position: absolute;top: 50%; text-align:center; width:100%; transform: translateY(-50%); font-size:30px; color:#ccc">
    <div class="sk-wave">
        <div class="sk-rect sk-rect1"></div>
        <div class="sk-rect sk-rect2"></div>
        <div class="sk-rect sk-rect3"></div>
        <div class="sk-rect sk-rect4"></div>
        <div class="sk-rect sk-rect5"></div>
    </div>
    <div style="text-align:center">Please wait, fetching data...</div>
</div>

<tabset style="width:100%" class="fullheight" >
    <tab heading="Simple Mapping">
        <simple-domain-mapper-component [unmappedServices]="unmappedServices" [domains]="domains" [serviceMap]="serviceMap">
        </simple-domain-mapper-component>
    </tab>
    <!--
    <tab heading="Rule-based Mapping">
        <regex-domain-mapper-component  [unmappedTraces]="unmappedServices" [domains]="domains" [serviceMap]="serviceMap">
        </regex-domain-mapper-component>
    </tab>
    <tab heading="Existing Mappings" (select)="onOpenExisting()">
        <existing-domain-mappings-component [domains]="domains" [serviceMap]="serviceMap" #existingDomainMappingsComponent>
        </existing-domain-mappings-component>
    </tab>
    -->
</tabset>
