<div class="d-flex flex-row align-items-stretch" style="height:100%">
    <div class="card flex-column" style="width:100%; margin-right:10px; margin-bottom:0px;">
        <div class="card-block d-flex flex-column">
            <div class="row headline">
                <div class="col-md-12">
                    <h4 class="card-title mb-0">Unmapped services</h4>
                </div>
            </div>
            <hr class="mb-4" style="margin-left:0px; margin-right:0px; position:relative">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search"></i></span>
                <input type="text" class="form-control" placeholder="Filter by name" [(ngModel)]="filterQuery"/>
            </div>
            <div style="position:absolute; bottom:0px; top:136px; left:20px; right:20px; overflow-y: auto">
                <div style="position: absolute;top: 50%; text-align:center; width:100%; transform: translateY(-50%); font-size:30px; color:#ccc"
                    *ngIf="unmappedServices.length == 0">No unmapped services available</div>
                <div class="list-group list-striped">
                    <a *ngFor="let service of getNotSelectedServices()" (click)="onSelectService(service)" class="list-group-item list-group-item-action flex-column align-items-start">
                        <p class="mb-1">{{service.component.name}}</p>
                        <span><small> first seen: {{service.component.getAnnotation('ad.discovered_at') | date:'yyyy-MM-dd HH:mm:ss'}}</small></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="card flex-column" style="width:100%;  margin-bottom:0px;">
        <div class="card-block d-flex flex-column">
            <div class="row headline">
                <div class="col-md-12">
                    <h4 class="card-title mb-0">Selected Services</h4>
                </div>
            </div>
            <hr class="mb-4" style="margin-left:0px; margin-right:0px; position:relative">
            <div style="position:absolute; bottom:0px; top:90px; left:20px; right:20px; overflow-y: auto">
                <div style="position: absolute;top: 50%; text-align:center; width:100%; transform: translateY(-50%); font-size:30px; color:#ccc"
                    *ngIf="unmappedServices.length > 0 && selectedServices.length <= 0">Select Services from the left list</div>
                <div class="list-group list-striped">
                    <a *ngFor="let service of getSelectedServices()" (click)="onDeselectService(service)" class="list-group-item list-group-item-action flex-column align-items-start">
                        <p class="mb-1">{{service.component.name}}</p>
                        <span><small> first seen: {{service.component.getAnnotation('ad.discovered_at') | date:'yyyy-MM-dd HH:mm:ss'}}</small></span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div class="card" style="background-color:#fafafa; border-left:none; min-width:330px; max-width:330px; margin-bottom:0px;">
        <div class="card-block" *ngIf="false">
            <div class="sk-wave">
                <div class="sk-rect sk-rect1"></div>
                <div class="sk-rect sk-rect2"></div>
                <div class="sk-rect sk-rect3"></div>
                <div class="sk-rect sk-rect4"></div>
                <div class="sk-rect sk-rect5"></div>
            </div>
            <div style="text-align:center">Fetching Domains</div>
        </div>
        <div class="card-block" *ngIf="true">
            <div class="row headline">
                <div class="col-md-12">
                    <h4 class="card-title mb-0">Assign Services to Domains</h4>
                </div>
            </div>
            <hr class="mb-4" style="margin-left:0px; margin-right:0px;">
            <div class="form-group">
                <label for="email">Selected Domain:</label>
                <select class="form-control" id="ccmonth" [(ngModel)]="selectedDomain">
                            <option [ngValue]="undefined" selected disabled>Select a Domain</option>
                            <option *ngFor="let domain of domains" [ngValue]="domain">{{domain.component.name}}</option>
                        </select>
            </div>
            <div class="form-group" *ngIf="selectedService && selectedServices.length <= 0">
                <span class="fa fa-exclamation text-danger"></span> Select Services to assign them to Domains.
            </div>
            <div class="form-group" *ngIf="selectedDomain && selectedServices.length > 0">
                <div class="row">
                    <div class="form-group col-md-6">
                        <button type="button" class="btn btn-block btn-default" (click)="reset(selectedDomain)"><i class="fa fa-remove" ></i> Discard</button>
                    </div>
                    <div class="form-group col-md-6">
                        <button type="button" class="btn btn-success btn-block" (click)="save()" [ladda]="btnLoader.get(0).value"><i class="fa fa-save" ></i> Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
