<div class="animated fadeIn d-flex flex-row" style="position:absolute; bottom:0px; top:0px; left:30px; right:30px;">
    <div class="card" style="width:100%; overflow:hidden; z-index:0">
        <div class="card-block d-flex flex-column" style="position:relative">
            <div class="row headline">
                <div class="col-md-12">
                    <h4 class="card-title mb-0">Architecture Adjacency Matrix</h4>
                    <div class="text-muted" style="font-size:14px" *ngIf="loadedArchitecture">
                        Time of snapshot:
                        <span *ngIf="fetchedSnapshot != null">{{fetchedSnapshot| date:'yyyy-MM-dd HH:mm:ss'}}</span>
                        <span *ngIf="fetchedSnapshot == null" class="badge badge-default">LIVE</span>
                        <span *ngIf="fetchedSnapshotOutdated" class="badge badge-danger">OUTDATED!</span>
                    </div>
                    <div style="margin-bottom:9px">
                      <label for="email">Graph Representation</label>
                      <label class="switch switch-text switch-primary switch-lg switch-responsive pull-right">
                        <input type="checkbox" class="switch-input" [(ngModel)]="showGraphRepresentation" (change) ="loadGraphRepresentation()">
                        <span class="switch-label" data-on="ON" data-off="OFF">OFF</span>
                        <span class="switch-handle"></span>
                      </label>
                    </div>
                </div>
            </div>

<!-- adjecency matrix component -->
    <depdendency-matrix-component [unmappedTraces]="unmappedTraces" [processes]="processes" [activityMap]="activityMap">
    </depdendency-matrix-component>

    </div>
    <!--/.col-->
    <div class="card" style="background-color:#fafafa; border-left:none; min-width:330px; max-width:330px;">

        <div class="card-block" style="overflow-y:auto">
            <div class="row headline">
                <div class="col-md-12">
                    <h4 class="card-title mb-0">Architecture Time</h4>
                </div>
            </div>
            <hr class="mb-4" style="margin-left:0px; margin-right:0px;">
            <div class="form-group">
                <label for="email">Architecture from</label>
                <label class="switch switch-text switch-primary switch-lg switch-responsive pull-right">
                    <input type="checkbox" class="switch-input" [(ngModel)]="snapshotFilter.now" >
                    <span class="switch-label" data-on="NOW" data-off="NOW">NOW</span>
                    <span class="switch-handle"></span>
                </label>
                <div *ngIf="!snapshotFilter.now" class="text-muted" style="font-size:12px; margin-top:-10px">{{snapshotFilter.date| date:'yyyy-MM-dd'}} {{snapshotFilter.time| date:'HH:mm:ss'}}</div>
            </div>
            <div *ngIf="!snapshotFilter.now">
                <div class="form-group">
                    <datepicker [(ngModel)]="snapshotFilter.date" [showWeeks]="true"></datepicker>
                </div>
                <div class="form-group" style="text-align: center;margin-top: -15px;padding-left: 55px;">
                    <timepicker [(ngModel)]="snapshotFilter.time" [hourStep]="1" [minuteStep]="1" [showSeconds]="true" [showMeridian]="false"></timepicker>
                </div>
            </div>

            <div class="form-group">
                <button type="button" class="btn btn-primary btn-block" (click)="fetchArchitecture()" style="z-index: 10;" [ladda]='btnLoader.get("FETCH").value'><i class="fa fa-cloud-download" style="font-size:18px; padding-right:10px; margin-top:4px"></i> Fetch architecture</button>
            </div>

            <hr class="mb-4" style="margin-left:0px; margin-right:0px; margin-top:20px;">
            <div class="row headline">
                <div class="col-md-12">
                    <h4 class="card-title mb-0">Matrix Filters</h4>
                </div>
            </div>
            <hr class="mb-4" style="margin-left:0px; margin-right:0px;">

            <div class="form-group">
                <b>Layers</b><br/><br/>
                <div style="margin-bottom:9px" *ngFor="let componentType of consideredLayerTypes">
                    <span [class]="'color-block cmptype-' + ComponentType[componentType]"></span>
                    <label for="email">{{ComponentType[componentType]}}</label>
                    <label class="switch switch-text switch-primary switch-lg switch-responsive pull-right">
                                <input type="checkbox" class="switch-input" [(ngModel)]="layerFilterMap.get(componentType).value" (change) ="filterArchitecture()" >
                                <span class="switch-label" data-on="ON" data-off="OFF">OFF</span>
                                <span class="switch-handle"></span>
                            </label>
                </div>

                <div style="margin-bottom:9px; margin-top:20px">
                    <b>Relations</b><br/><br/>
                    <label for="email">Indirect Relations</label>
                    <label class="switch switch-text switch-primary switch-lg switch-responsive pull-right">
                                    <input type="checkbox" class="switch-input" [(ngModel)]="showIndirectRelations" >
                                    <span class="switch-label" data-on="ON" data-off="OFF">OFF</span>
                                    <span class="switch-handle"></span>
                                </label>
                </div>
            </div>

            <div *ngIf="!saveRequired && selectedProcess">
                <div class="row">
                    <div class="form-group col-md-6">
                        <button type="button" class="btn btn-block btn-default" (click)="showRenameProcessModal()"><i class="fa fa-edit" ></i> Rename</button>
                    </div>
                    <div class="form-group col-md-6">
                        <button type="button" class="btn btn-danger btn-block" (click)="deleteProcess()" [ladda]='btnLoader.get("DELETE").value'><i class="fa fa-remove" ></i> Delete</button>
                    </div>
                </div>
            </div>

            <div class="form-group" *ngIf="saveRequired">
                <label for="email"><b>Process model has unsaved changes</b></label>
                <div class="row">
                    <div class="form-group col-md-6">
                        <button type="button" class="btn btn-block btn-default" (click)="setCurrentProcess(selectedProcess)"><i class="fa fa-remove" ></i> Discard</button>
                    </div>
                    <div class="form-group col-md-6">
                        <button type="button" class="btn btn-success btn-block" (click)="saveProcess()" [ladda]='btnLoader.get("SAVE").value'><i class="fa fa-save" ></i> Save</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
